.question-heading{
  text-align: left;
  font-size: 1.2rem ;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.36px;
  color: #043D4E;
  opacity: 1;
  margin: 0;
  padding: 1% 1% 1% 3%;
}
.question-title{
  background: #F4FAFC 0% 0% no-repeat padding-box;
  width: 100%;
}
.question-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.question-text p{
  font-size: 0.9rem;
  font-family: Inter,sans-serif;
  font-weight: normal;
  letter-spacing: -0.48px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  padding-left: 3%;
}
.question-text{
  padding-top: 2%;
}
.comments-area{
  width: 99%;
  font-size: 16px;
  margin-top:11px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}
::ng-deep .comments-area .mat-form-field-appearance-outline .mat-form-field-wrapper >> .mat-form-field-appearance-outline .mat-form-field-flex{
  height: 11vh !important;
}
.send-for-review-button{
  height: 0px;
  background: #043D4E 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #61828C;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: .5px;
  padding-bottom: 33px;
}
.cancel-review-button{
  height: 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #61828C;
  opacity: 1;
  color: #043D4E;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: .5px;
  padding-bottom: 33px;
}
.action-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 28%;
}
.question-comment{
  padding-bottom: 1%;
}
::ng-deep .question-comment .mat-form-field-appearance-outline .mat-form-field-flex{
  height : 6rem !important;
}

::ng-deep .question-comment .mat-form-field-appearance-outline .mat-form-field-flex{
  height : 7rem !important;
}
