.question-heading{
  text-align: left;
  font-size: 1.2rem ;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.36px;
  color: #043D4E;
  opacity: 1;
  margin: 0;
  padding: 1% 1% 1% 3%;
}
.question-title{
  background: #F4FAFC 0 0 no-repeat padding-box;
  width: 100%;
}
.question-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-questions {
  max-height: 15vh;
  min-height: 4vh;
  overflow-y : scroll;
}

.question-text{
  font-size: 0.9rem;
  font-family: Inter,sans-serif;
  font-weight: normal;
  letter-spacing: -0.48px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  padding-top: 2%;
  min-height: 4vh;
  word-break: break-all;
}
.comments-area{
  width: 99%;
  font-size: 16px;
  margin-top:11px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}
::ng-deep .comments-area .mat-form-field-appearance-outline .mat-form-field-wrapper ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
  height: 11vh !important;
}
.author-reviewer-actions-button{
  height: 0;
  background: #043D4E 0 0 no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #61828C;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: .5px;
  padding-bottom: 33px;
}
.cancel-review-button{
  height: 0;
  background: #FFFFFF 0 0 no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #61828C;
  opacity: 1;
  color: #043D4E;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: .5px;
  padding-bottom: 33px;
}
.action-items{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.question-comment{
  padding-bottom: 1%;
}

::ng-deep .question-comment .mat-form-field-appearance-outline .mat-form-field-flex{
  height : 7rem !important;
}
::ng-deep .question-comment .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
   color: #45A0AC !important;
 }

.publish-button{
  background-color: #6B9F78;
}
.default-button{
  background-color: #043D4E;
}
.reject-button{
  background-color: #9B293C;
}
.author-reviewer-actions{
  padding-right: 4%;
}
