<div class="question-content">
  <div class="question-title">
    <h2 class="question-heading">{{questions}}</h2>
  </div>
  <div *ngFor="let questionData of data.question; let i=index">
    <div class="question-text">
      <p>{{i+1}}. {{questionData.question}}</p>
    </div>
  </div>
  <div class="question-comment">
    <mat-form-field class="comments-area" appearance="outline" id="testForm">
      <mat-label>Comments {{inputWarningLabel}}</mat-label>
      <textarea matInput name="textarea"
                id="assessmentAnswer"
                [(ngModel)]="comments"
                cdkTextareaAutosize
                class="textArea1"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                maxlength="10000"></textarea>
    </mat-form-field>
  </div>
  <div class="action-items">
    <div>
      <button mat-flat-button class="send-for-review-button" (click)="sendToReview(data.question)">
        {{sendForReview}}
      </button>
    </div>
    <div>
      <button mat-flat-button class="cancel-review-button" (click)="cancelChanges()" id="cancel-changes">
        {{cancel}}
      </button>
    </div>
  </div>
</div>
