@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.parameter {

  background-color: #45A0AC1D;
  padding-right: 152px;
  height: 50px;
  padding-left: 20px;
  padding-top: 15px;
  margin-top: 35px;
  width: 95%;
  color: #043D4E;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;

}

.assessmentQuestions {
  width: 96%;
  height: 99px;
  margin-top: 35px;
  margin-left: -14px !important;
  color: #000000;

}

.question {
  margin-top: 35px;
  padding-left: 15px;
  font-size: 19px;
  font-weight: bolder;
  color: #000000;
  opacity: 1;
}

.textArea {
  width: 95%;
  height: 99px;
}

textArea.mat-input-element {
  padding-bottom: 30px;
}



