<div *ngFor="let parameter of topicInput.parameters; let i =index;">
  <div class="parameter"><strong>{{i + 1}}.</strong>&nbsp;{{parameter.parameterName}}</div>
  <div class="question"
       *ngFor="let question of parameter.questions; let j=index;">
    <b>{{i + 1}}.{{j + 1}}</b>&nbsp;{{question.questionText}}
    <br>
    <mat-form-field class="textArea" appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="7"></textarea>
    </mat-form-field>
  </div>
  <app-parameter-score [parameterScore]="parameter.references"></app-parameter-score>
</div>


