@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.btn-report {
  width: 210px;
  height: 45px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #32616E 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  margin-right: 30px;
}

.btn-finish{
  width: 210px;
  height: 45px;
  /* UI Properties */
  background: var(--unnamed-color-6d9d79) 0% 0% no-repeat padding-box;
  background: #6D9D79 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
}

.btn-reopen{
  width: 210px;
  height: 45px;
  margin-left:32px;
  /* UI Properties */
  background: var(--unnamed-color-4ba1ac) 0% 0% no-repeat padding-box;
  background: #4BA1AC 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
}


.menu-mat-icon {
  font-size: 45px;
}

.menuButton{
  margin-left: 30px;
}

.closeButton{
  position: relative;
    margin-left: 92%;
    top: -12px;
}

.mat-raised-button {
  background-color: #043D4E;
  color: #fff;
  height: 54px;
  text-transform: capitalize;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.45px;
  width: 100%;
}

.mat-error {
  margin-top: 15px !important;
  width:102%;
}

.mat-fab {
  background-color: #043d4e;
  border-radius: 0;
  top: -0.5px;
  left: -22px;
  height: 52.4px;
}

.addUserEmail {
  width: 100%;
  height: 50%;
  color-rendering: auto;
}

.saveButton {
  width: 18%;
  position: relative;
  left: 40%;
  margin-top: 2%;
  height: 38px;
  background-color: #32616E;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

h1 {
  color: #043D4E;
  margin-bottom: -30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

h2 {
  color: #043D4E;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

/*.mat-icon-button {*/
/*  position: relative;*/
/*  margin-left: 92%;*/
/*  top: -12px;*/

/*}*/

.assessmentName, .organizationName, .domain {
  width: 100%;
  height: 50%;

}

.industry {
  width: 70%;
  height: 50%;
}

.mat-form-field {
  height: 77px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.teamSize {
  width: 27%;
}

.mat-column-name {
  padding-left: 50px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: transparent !important;
  border-radius: 5px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #45A0AC !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #45A0AC !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent, .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #45A0AC !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  display: none;
}
::ng-deep .mat-focused .mat-form-field-required-marker{
  display: none;
}
::ng-deep .mat-placeholder-required .mat-form-field-required-marker ng-tns-c57-19 ng-star-inserted{
  display: none;
}
::ng-deep .mat-form-field .mat-form-field-label .mat-form-field-required-marker{
  display: none;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: #77969F;
}
.mat-form-field.mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element,.mat-form-field.mat-focused .mat-input-element {
  caret-color: #45A0AC !important;
}


