<div class="row justify-content-end">
  <div *ngIf="assessmentStatus==='Completed'" class="col-md-3">
    <button id="generate-report"  type="button" mat-stroked-button (click)="generateReport()" class="btn-report">
      Generate Report
    </button>
  </div>
  <div  class="col-md-3">
    <button *ngIf="assessmentStatus==='Active'"  id="finishAssessment" type="button" mat-stroked-button class="btn-finish" (click)="confirmFinishAssessmentAction()">
      Finish Assessment
    </button>
    <div class="col-mid-4">
      <button *ngIf="assessmentStatus==='Completed'" id="reopenAssessment"  type="button" mat-stroked-button class="btn-reopen" (click)="reopenAssessment()">
        Reopen Assessment
      </button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="menuButton">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="menu-mat-icon">more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="assessmentStatus ==='Completed'">
        <mat-icon>settings_applications</mat-icon>
        <span>Manage assessment & users</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>exposure</mat-icon>
        <span>Add module to assessment</span>
      </button>
    </mat-menu>

  </div>
</div>
