.btn-report {
  width: 210px;
  height: 45px;
  text-align: center;
  font: normal normal bold 16px/16px Inter;
  letter-spacing: 1.42px;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #32616E 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  margin-right: 30px;
}

.btn-reopen{
  width: 210px;
  height: 45px;
  /* UI Properties */
  background: var(--unnamed-color-4ba1ac) 0% 0% no-repeat padding-box;
  background: #4BA1AC 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/16px Inter;
  letter-spacing: 1.42px;
  color: #FFFFFF;
}

.menu-mat-icon {
  font-size: 45px;
}
