@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.btn-report {
  width: 13.125em;
  height: 2.8125em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
  text-transform: capitalize;
  background: #32616E 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: .4em;
  opacity: 1;
  margin-right: 1em;
}

.btn-finish{
  width: 13.125em;
  height: 2.8125em;
  /* UI Properties */
  background: var(--unnamed-color-6d9d79) 0% 0% no-repeat padding-box;
  background: #6D9D79 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
}

.btn-reopen{
  width: 13.125em;
  height: 2.8125em;
  /* UI Properties */
  background: var(--unnamed-color-4ba1ac) 0% 0% no-repeat padding-box;
  background: #4BA1AC 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.42px;
  color: #FFFFFF;
}


.menuButton{
  margin-left: 1.3em;
  display: inline-grid;
}

.menuIcon{
  width: 2.5em;
  height: 2.8125em
}

.menu-bar-right{
  padding-right: 4.98em;
}
.dataSavedStatus{
  height: 51px;
  background: #EAF4F6 0% 0% no-repeat padding-box;
  width: 20%;
  position: absolute;
  top: 2%;
  right: 18%

}
.dataStatus{
  text-align: center;
  font: 700 14px/20px Inter;
  letter-spacing: .25px;
  font-weight: bolder;
  color: #043d4e;
  opacity: 1;
  margin-top: 1px;
  padding-top: 16px
}
