.textArea {
  padding-top: 14px;
  width: 100%;
  font-size: 15px;
  padding-bottom: 18px;
}

textArea.mat-input-element {
  padding-bottom: 25px;
}
.userAdditionalAnswer{
  width: 100%;
}
.spinParent{
  display: flex;
  justify-content: flex-end;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.autoSaveMessage {
  float: right;
  margin-top: 12px;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: #45A0AC;
}

