.table{
  width:100%;
}
.moduleRow {
  height: 62px;
  text-align: left;
}
th {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  color: #043D4E;
  background: #EBFAFF 0% 0% no-repeat padding-box;
  opacity: 1;

}
/*th.category{*/
/*  padding-right: 12em;*/
/*}*/
th.category, td.category {
  border-bottom-style: none;
  text-align: center;
}
td.category {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  color: #52575D;
  opacity: 1;
  width: 28%;
  word-break: break-word;
}
.categoryDate {
  padding-right: 4em;
}
.moduleName{
  padding-right:4em;
}
.moduleActive {
  padding-right: 4em;
}
div.category {
  box-shadow: 0 5px 25px #52575d1a;
}


.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 2px
}

tr:nth-child(5n + 1) span.circle {
  background-color: #619FAA;
}

tr:nth-child(5n+2) span.circle {
  background-color: #F15F79;
}

tr:nth-child(5n + 3) span.circle {
  background-color: #6B9F78;
}

tr:nth-child(5n + 4) span.circle {
  background-color: #5D9EAA;
}

tr:nth-of-type(5n + 5) span.circle {
  background-color: #BE873E;
}
.editButton {
  width: 70px;
  height: 0px;
  background: #658892 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  margin-right: 3px;
}
div.buttonColumn {
  display: flex;
  justify-content: flex-end;
}
.button1 {
  width: 70%;
  height: 50px;
  background: #4BA1AC 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.input {
  width: 165px;
  height: 49px;
  border: 1px solid #4BA1AC;
  border-radius: 7px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  color: #6F7071;
  opacity: 1;
  padding-left: 19px;
  margin-top: 22px;
  margin-bottom: 4px;
}

.commentsArea {
  width: 99%;
  height: 60px;
  font-size: 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

.delete {
  min-width: 0px;
  padding: 0;
}

button.closeButton {
  background: none;
  border: none;
  height: 29px;
  width: 22px;
  margin-right: -19px;
  padding-left: 17px;
  display: inline-block;
  margin-bottom: 3px;
}

.mat-icon#delete {
  height: 29px;
  width: 22px;
  margin-right: -77px;
  margin-left: -36px;
  display: inline-block;
  margin-bottom: 3px;
}
.updateButton {
  width: 77px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  color: #658892;
  margin-right: 3px;
}

.updateButton.mat-flat-button {
  padding: 0px 9px;
  padding-bottom: 34px;
  margin-right: -8px;
  display: inline-block;
}
tr.expandedRow {
  height: 6px;
  border-bottom-width: 0px;
}

td.expandedData {
  border-bottom-width: 0px;
}
tr.eachRow {
  height: 62px;
  text-align: left;
}
.comments {
  overflow: hidden;
}
.saveButton {
  width: 70px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  color: #658892;
  margin-right: 3px;
}
.mat-slide-toggle.mat-disabled {
  opacity: 1!important;
}
