<p>
  <mat-toolbar>
    <button mat-icon-button [routerLink]="['']">
      <mat-icon class="backIcon">keyboard_backspace</mat-icon>
    </button>
    <span class="name"> {{assessmentName}}</span>
    <span class="module-spacer"></span>
    <button mat-fab color="primary">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-toolbar class="moduleToolbar">
  <div class="moduleHead">
    Modules
  </div>
</mat-toolbar>
<mat-tab-group #tabs mat-align-tabs="start" class="topicTab">
  <mat-tab *ngFor="let topic of topics" label={{topic.topicName}}>
    <app-topic-details-screen [topicInput]="topic"></app-topic-details-screen>
  </mat-tab>
</mat-tab-group>

<mat-expansion-panel *ngFor="let category of category; first as isFirst" [expanded]="isFirst">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{category.categoryName}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="categoryModules">
    <mat-card class="moduleCard" (click)="navigate(module);tabs.selectedIndex=0"
              *ngFor="let module of category.modules"
              [ngClass]="{'moduleCard-active':moduleSelected === module.moduleId}">
      {{module.moduleName}}
    </mat-card>
  </div>
</mat-expansion-panel>









