@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.col-md-1{
  margin-left:0px;
  width: 5%;
}
.col-md-8{
  margin-left:70px;
}
h2{
  padding-top:6px;
  letter-spacing: normal;
  color:#043D4E;
}

.container-xxl {
  max-width: 2500px;
  margin-left:0px;
}
.backIcon {
  color:#043D4E;

}

.mat-raised-button{
  background-color: #043d4e;
  color: #fff;
  height: 54px;
  text-transform: capitalize;
  font-size: 17px ;
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
  letter-spacing: 1.35px ;
  width: 275px;
}
