<p>
  <mat-toolbar>
    <button mat-icon-button [routerLink]="['']">
      <mat-icon class="backIcon">keyboard_backspace</mat-icon>
    </button>
    <span class="Name"> {{assessmentName}}</span>
    <span class="example-spacer"></span>
    <button mat-fab color="primary">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-toolbar class="moduleToolbar">
  Modules

<div class="topicTab">
<mat-tab-group mat-align-tabs="start">
  <mat-tab *ngFor="let topic of topics" label={{topic.topicName}}></mat-tab>
</mat-tab-group>
</div>
</mat-toolbar>

<mat-expansion-panel *ngFor="let category of category; first as isFirst" [expanded]="isFirst">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{category.categoryName}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="categoryModules">
    <mat-card class="moduleCard" (click)="navigate(module)"
              *ngFor="let module of category.modules; first as selectedIndex"
              [ngClass]="{'moduleCard-active':moduleSelected === module.moduleId}">
      {{module.moduleName}}
    </mat-card>
  </div>
</mat-expansion-panel>







