.contributor-author-heading h1{
  text-align: left;
  font: normal normal bold 32px/38px Bitter;
  letter-spacing: 0.64px;
  color: #043D4E;
  opacity: 1;
  padding-top:2% ;
}
::ng-deep .search-contributor-questions .mat-form-field-underline {
  display: none;
}

.search-contributor-questions{
  top: 2px;
  width: 80%;
  background-color: #F4FAFC !important;
  border-bottom: None;
  height: 51px;
}
.search-contributor-question-icon{
  float: left;

}
.search-image{
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  cursor: pointer;
}
.search-text{
  padding-left: 36px;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: #77969F;
}
.contributor-author-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}
.contributor-author-heading{
  width: 45%;
}
.contributor-search-bar{
  width: 55%;
}
.parameter-heading{
  border-color: #5D9EAA;
  background-color: #5D9EAA;
  border-radius: 10px 150px 0 0;
  width: 275px;
  height: 2vh;
  font-size: 1rem;
  color: #fff;
  padding: .5% 1%;
}
.contributor-author{
  display: flex;
  flex-direction: column;
}
.contributor-question{
  padding-top: 10px;
  font-size: 1rem;
  word-break: break-all;
}
.contributor-questions{
  width: 97%;
}
.contributor-question-content{
  width: 55vw;
}
.contributor-row-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: 0.9rem;
  letter-spacing: 0;
  color: #383838;
  opacity: 1;
}
.parameter-heading-content{
  display: flex;
  flex-direction: row;
  width: 96%;
  justify-content: space-between;
}
a.anchor{
  text-decoration: underline;
  color: #156C86;
  font-family: Inter, serif;
}
