.contributor-author-heading h1{
  text-align: left;
  font: normal normal bold 32px/38px Bitter;
  letter-spacing: 0.64px;
  color: #043D4E;
  opacity: 1;
  padding-top:2% ;
}
::ng-deep .search-contributor-questions .mat-form-field-underline {
  display: none;
}

.search-contributor-questions{
  top: 2px;
  width: 80%;
  background-color: #F4FAFC !important;
  border-bottom: None;
  height: 51px;
}
.search-contributor-question-icon{
  float: left;

}
.search-image{
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  cursor: pointer;
}
.search-text{
  padding-left: 36px;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: #77969F;
}
.contributor-author-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}
.contributor-author-heading{
  width: 45%;
}
.contributor-search-bar{
  width: 55%;
}
.parameter-heading-on-click{
  background-color: #5D9EAA !important;
  color: #fff;
}
.contributor-questions-on-click{
  box-shadow: 0px 3px 6px #0000003E !important;
  border: 1px solid #4BA1AC4A !important;
}

.parameter-heading{
  border: 1px solid #5D9EAA;
  background-color: #5D9EAA0D;
  border-radius: 10px 150px 0 0;
  font-size: 0.9rem;
  padding: .1% 1%;
}
.contributor-author{
  display: flex;
  flex-direction: column;
}
.contributor-question{
  font-size: 1rem;
  word-break: break-all;
}
.contributor-questions{
  width: 97%;
  cursor: pointer;
}
.contributor-questions .mat-card{
  box-shadow: none;
  border: 1px solid #4BA1ACBF
}
.contributor-question-content{
  width: 70%;
  /*margin-right: 5%;*/
}
.contributor-question-checkbox-and-input{
  display: flex;
  flex-direction: row;
}

/*.contributor-row-heading{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  text-align: left;*/
/*  font-size: 0.9rem;*/
/*  letter-spacing: 0;*/
/*  color: #383838;*/
/*  opacity: 1;*/
/*}*/
.parameter-heading-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
}
a.anchor{
  text-decoration: underline;
  color: #156C86;
  font-family: Inter, serif;
}

.each-question {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1%;
}

.contributor-button {
  height: 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #61828C;
  opacity: 1;
  color: #658892;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: .5px;
  padding-bottom: 33px;
}

.contributor-edit-button, .contributor-send-button {
  margin-right: 1%;
  padding-right: 3%;
}

.send-review-button {
  padding-left: 22%;
  margin-right: 1%;
  padding-right: 3%;
}

.discard-changes {
  padding-top: 2%;
}

.status-icon {
 padding-left: 10%;
}

.question-delete-button {
  padding-top: 0.5%;
}

.status-icon .mat-icon {
  color: #416386;
}

.question-delete-button .mat-icon {
  color: #BD4257;
}

.contributor-input {
  width: 58vw;
  height: 49px;
  border-radius: 7px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter,sans-serif;
  letter-spacing: 0;
  color: #6f7071;
  opacity: 1;
  margin-bottom: 38px;
}

::ng-deep .contributor-input .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

::ng-deep .contributor-input .mat-form-field-appearance-outline .mat-form-field-outline{
  height: 6vh !important;
}
.contributor-edit-action{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.contributor-edit-buttons{
  display: flex;
  justify-content: space-between;
  width: 19%;
  margin-bottom: 4%;
}
.select-checkbox{
  width: 3%;
}

::ng-deep .contributor-question-input .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

::ng-deep .contributor-input .mat-form-field-infix {
  padding-bottom: 0;
}

.edit-input .contributor-question-content {
  width: 80%;
}

