.questionHeading {
  height: 5vh;
  width: 58vw;
  padding: 1%;
  text-align: left;
  font-size: 21px ;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.36px;
  color: #043D4E;
  opacity: 1;
  margin: 0;
}

.question-heading {
  width: 97%;
  text-align: left;
  font-size: 21px ;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #45A0AC;
  opacity: 1;
  overflow-wrap: break-word;
}

.question-close button {
  display: inline-block;
  float: right;
  border: none;
  background-color: transparent;
}

.question_close-icon.mat-icon {
  color: #043D4E;
  width: 50px;
  height: 38px;
}

.question_close-icon.material-icons {
  font-size: 25px;
}

div.questionButtonColumn {
  display: flex;
  justify-content: flex-end;
  height: 90px;
  margin-left: 2px;
}

.questionButton1 {
  width: 20%;
  height: 50px;
  background: #4BA1AC 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.questionText {
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.36px;
  color: #043D4E;
  opacity: 1;
}

.editQuestion {
  display: flex;
  flex-direction: row;
  height: 0px;
  background: #658892 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  margin-right: 3px;
}

.save-button, .edit-button {
  display: flex;
  justify-content: center;
}
.save-button{
  margin-left: 39%;
  padding-top: 20px;
}

.updateButton{
  margin-left: 40%;
  padding-top: 20px;
}

.edit-button{
  margin-left: 26%;
}

.questions{
  overflow-y: scroll;
  height: 320px;
  margin-left: 17px;
}

.question-input {
  width: 100%;
}

.saveQuestion{
  display: flex;
  flex-direction: row;
  height: 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  color: #658892;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  margin-right: 3px;
}

.delete-question, .cancel-button{
  border: none;
  background: transparent;
}

.updateQuestion {
  height: 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  color: #658892;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  margin-right: 3px;
}

.questionHeader {
  display : flex;
  flex-direction: row;
  padding-top: 1%;
}

.parameterHeading {
  width: 97%;
  text-align: left;
  padding-left: 2%;
  font-size: 21px ;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #45A0AC;
  opacity: 1;
}
.questionHeadingDiv{
  margin-left: 23px;
  width: 94%;
}
::ng-deep .question-header .mat-card-header-text {
  margin: 0 6px;
}
::ng-deep .questionText .mat-form-field-appearance-outline .mat-form-field-flex  {
  width: 48vw !important;
}

