.header{
    background-color: white;
    box-shadow: 0px 4px 5px #c3c4c2;
    display: block;
    min-height: 100px;
    min-width: 100%;
   }
@media screen and(max-width: 700px){
  .header{
    min-width: 115%;
  }
}
.logo {
    position: absolute;
    top: 23px;
    left: 40px;
    width: 72px;
    height: 54px;
    cursor: pointer;
  }
.user{
    float: right;
    position:absolute;
    top: 41px;
    right: 5%;
    width: 95px;
    height: 17px;
    cursor: pointer;

}
.userName{
    font: normal normal normal 14px/20px Inter;
    text-align: left;
    letter-spacing: 0.25px;
    color: #000000DE;
    font-weight: medium;
}
.arrow {
    width: 1px;
    top: 9px;
    right:0%;
    position:absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    opacity: 1;
}

div.user{
    display: flex;
    justify-content: space-between;
}
.userContent{
    display: block;
    margin-right: 20px;
    background-color: white;
    position:absolute;
    top:5%;
    z-index: 1;
}
.mat-stroked-button {
    position: absolute;
    top: 0.7em;
    right:0em;
    width: 94px;
    height: 32px;
    line-height: 19px;
    box-shadow:0px 4px 4px #c3c4c2 ;
    border: none;
    background: #F4FAFC 0% 0% no-repeat padding-box;
    border-radius: 0;
    opacity: 1;
}
.logOutContent{
    top: 7px;
    right: 0%;
    width: 15px;
    position: relative;
    text-align:start;
    font: normal normal normal 14px/20px Inter;
    letter-spacing: 0.25px;
    color: #043D4E;
    opacity: 1;
    min-width: 130px;
}




