.maturityScore {
  background-color: #45A0AC1D;
  box-shadow: 0 1px 6px #013d4f29;
  height: 50px;
  padding-left: 11px;
  padding-top: 15px;
  margin-top: 35px;
  color: #043D4E;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  width: 236px;
}

.maturityScore-disable {
  color: #6F7071;
}

.scoreReference {
  height: 100px;
  width: 236px;
  font: normal normal normal 16px/24px 'Inter', sans-serif;
  font-family: 'Inter', sans-serif;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  opacity: 1;
  letter-spacing: -0.96px;
  color: #000000;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 22px;
  white-space: pre-wrap !important;
  overflow-y: scroll;
  border: 1px solid transparent;
}

.scoreReference-disable {
  background-color: #F7F7F7;
}

.rating {
  width: 86px;
  height: 76px;
  background: #6D9D79 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  color: white;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  margin-right: 72px;
  margin-left: 71px;
}

.rating-disable {
  background: #C3C3C3;

}

.image {
  width: 26px;
  height: 25px;
  background: transparent url('src/assets/Path 3417/Path 3417.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 18px;
  margin-right: auto;
  display: block;
  margin-top: 16px
}


