.contributor-console-card {
  background: #EAF4F6 0 0 no-repeat padding-box;
  box-shadow: 0 10px 20px #C4C8D066;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  padding: 28px 34px 34px 34px;
  margin-left: -5px;
}

.contributor-heading {
  text-align: left;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.4px;
  color: #043D4E;
  opacity: 1;
  padding-bottom: 6px;
}

.contributor {
  display: flex;
  flex-direction: row;
  height: 86vh;
}

.contributor-console {
  margin-left: 1%;
  width: 15vw;
}

.contributor-active {
  background: #4BA1AC 0 0 no-repeat padding-box;
  color: white !important;
}

.author-button {
  display: inline-block;
  padding: 6px 5px;
}

.author button, .reviewer button {
  height: 6vh;
  text-align: left;
  font-style: normal;
  font-family: Inter, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  width: 9vw;
  color: #52575d;
  opacity: 1;
  margin: 6px -4px !important;
  border-radius: 32px;
}

.author-icon {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-bottom: 6px;
  justify-content: space-between;
  padding-left: 5px;
  padding-top:8px;
}

.author-icon .mat-icon {
  padding-top: 2px;
}

.icon-author {
  padding-top: 5%;
  padding-left: 7px;
}

.reviewer-icon {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-bottom: 6px;
  justify-content: space-between;
  padding-left: 5px;
  padding-top:8px;
}

.author-label {
  padding-left: 8px;
  padding-top: 7%;
}

.author-label h3,.reviewer-label h3{
  font-size: 1em;
}

.reviewer-label {
  padding-left: 7%;
  padding-top: 2px;
}

.contributor-router {
  width: 100%;
  padding-left: 3%;
  height:100%;
  overflow-y: scroll;
}

.author-tree-invisible {
  display: none;
}

.author-tree {
  background-color: transparent;
}

.author-tree .mat-nested-tree-node div[role=group] {
  padding-left: 17px;
  margin-top: -5px;
}

.parameter-icon {
  height: 16px;
  margin-bottom: 3px;
  padding-left: 20px;
  background: transparent url("src/assets/admin-dashboard/Group 3732.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
  display: inline-block;
}

.contributor-active .parameter-icon {
  background: transparent url("src/assets/admin-dashboard/Group 3733.svg") 0% 0% no-repeat padding-box;
  display: inline-block;
}

.author-menu-button {
  height: 5vh;
  text-align: left;
  font-style: normal;
  font-family: Inter, sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  width: 9vw;
  color: #52575d;
  opacity: 1;
  margin: 6px -4px !important;
  border-radius: 32px;
}
.title{
  margin-left:-5px;
}
.expand-icon{
   margin-left:14px;
}
