.contributor-console-card{
  background: #EAF4F6 0 0 no-repeat padding-box;
  box-shadow: 0 10px 20px #C4C8D066;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 35%;
  padding: 28px 34px 34px 34px;
  margin-left: -5px;
}
.contributor-heading{
  text-align: left;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  letter-spacing: 0.4px;
  color: #043D4E;
  opacity: 1;
  padding-bottom: 6px;
}
.contributor{
  display: flex;
  flex-direction: row;
  height: 86vh;
}
.contributor-console{
  margin-left:1%;
  width: 15vw;
}
.contributor-active{
  background: #4BA1AC 0 0 no-repeat padding-box;
  color: white !important;
}
.author-button{
  display: inline-block;
  padding: 6px 5px;
}
.author button, .reviewer button{
  height: 5vh;
  text-align: left;
  font-style: normal;
  font-family: Inter, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  width: 9vw;
  color: #52575d;
  opacity: 1;
  margin: 6px -4px !important;
  border-radius: 32px;
}
.author-icon{
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-bottom: 6px;
  justify-content: space-between;
  padding-left: 5px;
}
.author-icon .mat-icon{
  padding-top: 2px;
}
.icon-author{
  padding-top : 5%;
  padding-left: 7px ;
}
.reviewer-icon{
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-bottom: 6px;
  justify-content: space-between;
  padding-left: 5px;
}
.author-label{
  padding-left: 8px;
  padding-top: 7%;
}
.author-label h3, .reviewer-label h3{
  font-size: 1em;
}
.reviewer-label{
  padding-left: 7%;
}
.contributor-router{
  width: 100%;
  padding-left: 3%;
}
::ng-deep .search-contributor-questions .mat-form-field-underline {
  display: none;
}

.search-contributor-questions{
  top: 2px;
  width: 95%;
  background-color: #F4FAFC !important;
  border-bottom: none;
  height: 51px;
}
.search-contributor-question-icon{
  float: left;

}
.search-image{
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  cursor: pointer;
}
.search-text{
  padding-left: 36px;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  color: #77969F;
}
.contributor-author-header{
  display: flex;
  flex-direction: row;
  padding-bottom: 3%;
}
.contributor-author-heading{
  width: 45%;
}
.contributor-search-bar{
  width: 55%;
}
.contributor-author-heading h1{
  text-align: left;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-family: "Bitter", sans-serif;
  letter-spacing: 0.64px;
  color: #043D4E;
  opacity: 1;
  padding-top:2% ;
}
