div.parameterButtonColumn {
  display: flex;
  justify-content: flex-end;
}
.parameterTable{
  width:100%;
  margin-top:20px;
}

.parameterButton1 {
  width: 70%;
  height: 50px;
  background: #4BA1AC 0 0 no-repeat padding-box;
  box-shadow: 0 2px 2px #00000024;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: capitalize;
}

th.parameter,td.parameter{
  border-bottom-style: none;
  text-align: left;
}
td.parameter {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  color: #52575D;
  opacity: 1;
  word-break : break-word;
}

th {
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  color: #043D4E;
  background: #EBFAFF 0% 0% no-repeat padding-box;
  opacity: 1;

}
div.parameter {
  margin-top: 16px;
  box-shadow: 0 5px 25px #52575d1a;
}

.editButton {
  width: 70px;
  height: 0px;
  background: #658892 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  color: #FFFFFF;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  margin-right: 3px;
}

td.topic:last-of-type {
  padding-right: 0px !important;
  text-align: left;
}

.parameterRow {
  height: 62px;
  text-align: left;
}

.admin-searchBar {
  width: 75%;
  padding-left: 27%;
  margin-bottom: 24px;
}


::ng-deep .mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
}

td.parameter:nth-child(1){
  width:20%;
  padding-right: 2%;
  word-break: break-word;
}
td.parameter:nth-child(2),td.parameter:nth-child(3){
  width:18%;
  padding-right: 2%;
  word-break: break-word;
}
td.parameter:nth-child(4){
  width:18%;
  padding-right: 1%;
  word-break: break-word;
}
td.parameter:nth-child(5){
  width:15%;
}
td.parameter:nth-child(6){
  width:15%;
}

::ng-deep .dropDown .mat-form-field-flex {
  height: 63px;
  margin-top: 20px;
}
::ng-deep .inputTextParameter .mat-form-field-infix{
  height: 50px;
}
.dropDown .mat-form-field-infix {
  padding: 8px 0;
}
.update{
  width: 72px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 35px;
  color: #658892;
  margin-right: 5px;
}
.saveParameterButton {
  width: 70px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #61828C;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 32px;
  color: #658892;
  margin-right: 3px;
}

.deleteTopic {
  min-width: 0px;
  padding: 0;
}

.parameterComments {
  overflow: hidden;
}

.parameterCommentTextArea {
  width: 99%;
  font-size: 16px;
  margin-top:11px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

td.expandedCommentsData {
  border-bottom-width: 0px;
}

tr.expandedParameterRow {
  height: 6px;
  border-bottom-width: 0px;
}

.inputTextParameter{
  margin-top:26px;
}
.closeParameterButton{
  background: none;
  border: none;
  height: 29px;
  width: 22px;
  margin-right: -3px;
  display: inline-block;
  margin-bottom: 3px;
  padding-left: 0px;
}
.expansionActive{
  padding-right:4em;
}
.text{
  margin-left:-9px;
}
.noData{
  border-bottom-color: transparent;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  padding-top: 17px;
  word-break: break-word;
  padding-left: 45%;
}

.parameter-reference button{
  border: none;
  background-color: transparent;
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #45A0AC !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent, .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #45A0AC !important;
}
