<div class="row">
  <div class="col-md-9">
    <app-search [dataSource]="dataSource" [columns]="['4','categoryName','moduleName','topicName','parameterName']"
                class="admin-searchBar"></app-search>
  </div>
  <div class="col-md-3 parameterButtonColumn">
    <button mat-flat-button class="parameterButton1" (click)="addParameterRow()">
      Add Parameter
    </button>
  </div>
</div>
<div class="mat-elevation-z8 parameter">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort aria-describedby="parameter"
         class="parameterTable">
    <ng-container matColumnDef="categoryName">
      <th class="parameter" mat-header-cell *matHeaderCellDef mat-sort-header="categoryName">{{categoryLabel}}</th>
      <td class="parameter" mat-cell *matCellDef="let row">
      <span *ngIf="!(row.isEdit || selectedParameter?.parameterId === row.parameterId)"
            [ngStyle]="{'color': row.categoryStatus ? '52575d' : '#868485FF' }">
          <span class="circle"></span>
        {{row.categoryName}}</span>
        <span *ngIf="row.isEdit || selectedParameter?.parameterId === row.parameterId">
          <mat-form-field appearance="outline" class="dropDown">
                        <mat-label>{{categoryLabel}}</mat-label>
        <mat-select [(ngModel)]="row.categoryName" required (selectionChange)="shortlistModules(row)">
          <mat-option *ngFor="let category of categoryList"
                      [value]="category.categoryName" [ngStyle]="{'color': category.active ? '52575d' : '#B3B8BD' }">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
            <mat-error>
             {{mandatoryFieldText}}
        </mat-error>
            </mat-form-field>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length" class="expandedCommentsData">
        <div
          [@detailExpand]="(row.isEdit === true || selectedParameter?.parameterId === row.parameterId) ? 'expanded' : 'collapsed'"
          class="parameterComments">
          <mat-form-field appearance="outline" class="parameter-comment-textarea">
            <textarea #input matInput placeholder="Comments"
                      [(ngModel)]="row.comments"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="2"
                      maxlength="1000"
                      style="margin-bottom: 3px">
            </textarea>
            <mat-hint align="end">{{input.value.length}}/1000</mat-hint>
          </mat-form-field>
          <br><br>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="moduleName">
      <th class="parameter" *matHeaderCellDef mat-sort-header="moduleName">{{moduleLabel}}</th>
      <td class="parameter" *matCellDef="let row">
              <span *ngIf="!(row.isEdit || selectedParameter?.parameterId === row.parameterId )">
               <span [ngStyle]="{'color': row.moduleStatus ? '52575d' : '#868485FF' }">{{row.moduleName}}</span>
        </span>
        <span *ngIf="row.isEdit || selectedParameter?.parameterId === row.parameterId">
          <mat-form-field appearance="outline" class="dropDown">
            <mat-label>{{moduleLabel}}</mat-label>
        <mat-select [(ngModel)]="row.moduleName" required (selectionChange)="shortListTopics(row.moduleName)">
          <mat-option *ngFor="let module of moduleList" [value]="module.moduleName"
                      [disabled]="moduleList[0].moduleName===moduleNotFoundMessage"
                      [ngStyle]="{'color': module.active ? '52575d' : '#B3B8BD' }">
            {{module.moduleName}}
          </mat-option>
        </mat-select>
            <mat-error>
              {{mandatoryFieldText}}
        </mat-error>
            </mat-form-field>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="topicName">
      <th class="parameter" mat-header-cell *matHeaderCellDef mat-sort-header="topicName"> {{topicLabel}}</th>
      <td class="parameter" mat-cell *matCellDef="let row"> <span *ngIf="!(row.isEdit || selectedParameter?.parameterId  === row.parameterId )">
       <span [ngStyle]="{'color': row.topicStatus ? '52575d' : '#868485FF' }">{{row.topicName}}</span>
        </span>

        <span *ngIf="row.isEdit || selectedParameter?.parameterId === row.parameterId">
          <mat-form-field appearance="outline" class="dropDown">
            <mat-label>{{topicLabel}}</mat-label>
        <mat-select [(ngModel)]="row.topicName" class="topicSelector" required>
          <mat-option *ngFor="let topic of topicList" [value]="topic.topicName"
                      [disabled]="topicList[0].topicName===topicNotFoundMessage"
                      [ngStyle]="{'color': topic.active ? '52575d' : '#B3B8BD' }">
            {{topic.topicName}}
          </mat-option>
        </mat-select>
            <mat-error>
             {{mandatoryFieldText}}
        </mat-error>
            </mat-form-field>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="parameterName">
      <th class="parameter" mat-header-cell *matHeaderCellDef mat-sort-header="parameterName">{{parameterLabel}}</th>
      <td class="parameter" mat-cell *matCellDef="let row"> <span *ngIf="!(row.isEdit || selectedParameter?.parameterId  === row.parameterId )">
        {{row.parameterName}}
        </span>
        <span *ngIf="row.isEdit || selectedParameter?.parameterId === row.parameterId">
          <mat-form-field appearance="outline" class="inputTextParameter">
            <mat-label>{{parameterInput}}</mat-label>
          <input matInput #parameterName placeholder="Enter Parameter name" [(ngModel)]="row.parameterName"
                 pattern="^[a-zA-Z0-9-()._-]+(\s+[a-zA-Z0-9-()._-]+)*$" style="padding-bottom: 20px">
          <mat-error *ngIf="!parameterName.value.match('^[a-zA-Z0-9-()._-]+(\\s+[a-zA-Z0-9-()._-]+)*$')">
          {{commonErrorFieldText}}
        </mat-error>
            </mat-form-field>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th class="parameter" mat-header-cell *matHeaderCellDef mat-sort-header="updatedAt">{{date}}</th>
      <td class="parameter" mat-cell *matCellDef="let row" [ngStyle]="{'padding-right':isEditable ? '0%' : '1%' }">
        {{row.updatedAt | date:'dd-MMM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th class="parameter" mat-header-cell *matHeaderCellDef mat-sort-header="active"> {{active}}</th>
      <td class="parameter" mat-cell *matCellDef="let row" [ngStyle]="{'padding-left':isEditable ? '1%' : '0%' }">
        <mat-slide-toggle [(ngModel)]="row.active"
                          [disabled]="!(selectedParameter?.parameterId === row.parameterId || row.isEdit)"></mat-slide-toggle>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th class="parameter" mat-header-cell *matHeaderCellDef>{{action}}</th>
      <td class="parameter" mat-cell *matCellDef="let row; let index = index;">
        <span *ngIf="!(row.isEdit || selectedParameter?.parameterId === row.parameterId)">
        <button mat-flat-button class="editButton" aria-label="expand row" (click)="editParameterRow(row)">Edit</button>
        </span>
        <span *ngIf="selectedParameter?.parameterId === row.parameterId && row.parameterId !== -1">
        <button mat-flat-button class="update" aria-label="expand row"
                (click)="updateParameterRow(row)"
                [disabled]="((row.categoryName === '') || (row.moduleName === '') || (row.topicName === '') || !row.parameterName.match('^[a-zA-Z0-9-()._-]+(\\s+[a-zA-Z0-9-()._-]+)*$'))">
          <span class="text">Update</span></button>
        </span>
        <span *ngIf="row.isEdit">
          <button mat-flat-button class="saveParameterButton" type="submit" (click)="saveParameterRow(row)"
                  [disabled]="((row.categoryName === '') || (row.moduleName === '') || (row.topicName === '') || !row.parameterName.match('^[a-zA-Z0-9-()._-]+(\\s+[a-zA-Z0-9-()._-]+)*$'))">Save</button>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="reference">
      <th class="parameter" mat-header-cell *matHeaderCellDef></th>
      <td class="parameter" mat-cell *matCellDef="let row">
        <button class="closeParameterButton" (click)="cancelChanges(row)"
                *ngIf="selectedParameter?.parameterId === row.parameterId && row.parameterId !== -1">
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-flat-button (click)="deleteAddedParameterRow()" *ngIf="(row.isEdit)">
          <mat-icon id="deleteParameter">delete</mat-icon>
        </button>
        <div class="parameter-reference">
          <button *ngIf="!(selectedParameter?.parameterId === row.parameterId)"
                  (click)="openParameterReference(reference,row)">
            <mat-icon>playlist_add</mat-icon>
          </button>
        </div>
        <ng-template #reference>
          <ng-container *ngIf="row.openReferences">
            <app-admin-parameter-reference [parameter]="row"
                                           [topic]="findTopicId(row)"
                                           [module]="findModuleId(row)"
                                           [category]="findCategoryId(row)">

            </app-admin-parameter-reference>
          </ng-container>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="addQuestion">
      <th class="parameter" mat-header-cell *matHeaderCellDef></th>
      <td class="parameter" mat-cell *matCellDef="let row; let index = index;">
        <div class="parameter-reference">
          <button *ngIf="!(selectedParameter?.parameterId === row.parameterId)"
                  (click)="openQuestions(questions,row)">
            <mat-icon>question_answer</mat-icon>
          </button>
        </div>
        <ng-template #questions>
          <ng-container *ngIf="row.openQuestions">
            <app-admin-question [parameter]="row"
                                [topic]="findTopicId(row)"
                                [module]="findModuleId(row)"
                                [category]="findCategoryId(row)"></app-admin-question>
          </ng-container>
        </ng-template>
      </td>
    </ng-container>
    <ng-container>
      <th class="parameter" mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="parameterRow"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandedParameterRow"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="12" class="noData">{{dataNotFound}}</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25,50,100,500,1000]" aria-label="Select page of users"></mat-paginator>
</div>


