.mat-raised-button{
  position: absolute;
  top: 17%;
  left: 78%;
  background-color: #043D4E;
  color: white;
  min-width: 17%;
  height: 8%;
  text-transform: capitalize;
  font:normal normal bold 14px/16px Roboto;
  letter-spacing: 1.25px;
}
#remove{
  margin-left:0%;
}
.mat-fab{
  background-color: #043D4E;
}
.saveButton{
  width: 10%;
  position:relative;
  left: 40%;
  margin-top:3%;
}
table.mat-table{
  width: 74%;
}
h1{
  color:#043D4E;
  margin-bottom: -28px;
}
.mat-icon-button{
  position:relative;
  margin-left: 92%;
  top: -2%;
}
.assessmentName, .organizationName, .domain{
  width:100%;
  height: 50%;
}
.industry{
  width: 70%;
  height: 50%;
}
.mat-form-field{
  height: 75px ;
}
th.mat-header-cell{
  padding:0 118px 0 0 ;
}
.teamSize{
  width: 20%;
}
