.mat-raised-button{
  position: relative;
  top: -65px;
  left: 81%;
  background-color: #043d4e;
  color: #fff;
  height: 49px;
  text-transform: capitalize;
  font: 700 14px/16px Roboto;
  letter-spacing: 1.25px;
}

@media screen and (max-width: 700px){
  .mat-raised-button{
    position: absolute;
    top: 15%;
    left: 78%;

  }
}
#remove{
  margin-left:78%;
}
.mat-fab{
  background-color: #043D4E;
}
.addUserEmail{
  width: 90%;
  height: 50%;
}
.saveButton{
  width: 10%;
  position:relative;
  left: 40%;
  margin-top:16%;
  height: 38px;
}
table.mat-table{
  width: 94%;
}
h1{
  color:#043D4E;
  margin-bottom: -28px;
}
.mat-icon-button{
  position:relative;
  margin-left: 92%;
  top: -2%;
}
.assessmentName, .organizationName, .domain{
  width:100%;
  height: 50%;
}
.industry{
  width: 70%;
  height: 50%;
}
.mat-form-field{
  height: 75px ;
}
.teamSize{
  width: 20%;
}
.mat-column-name{
  padding-left: 50px;
}
.dummyHeader{
  min-height: 0px;
}

