@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.mat-raised-button{
  background-color: #043d4e;
  color: #fff;
  height: 54px;
  text-transform: capitalize;
  font-size: 17px ;
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
  letter-spacing: 1.35px ;
  width: 243px;
}

#remove{
  margin-left:78%;
}
.mat-fab{
  background-color: #043D4E;
  border-radius: 0px;
  top: -3px;
  left: -5px;
}
.addUserEmail{
  width: 90%;
  height: 50%;
  color-rendering: auto;
}
.saveButton{
  width: 18%;
  position:relative;
  left: 40%;
  margin-top:15%;
  height: 38px;
}
table.mat-table{
  width: 94%;
}
h1{
  color:#043D4E;
  margin-bottom: -30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
h2{
  color:#043D4E;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.mat-icon-button{
  position: relative;
  margin-left: 92%;
  top: -12px;

}
.assessmentName, .organizationName, .domain{
  width:100%;
  height: 50%;

}
.industry{
  width: 70%;
  height: 50%;
}
.mat-form-field{
  height: 75px ;
}


.teamSize{
  width: 27%;
}
.mat-column-name{
  padding-left: 50px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #F8FBFD !important;
  border-radius: 5px;
}


