<button mat-raised-button (click)="openAssessment(content)" id="createAssessment">Create Assessment</button>
<ng-template #content>
  <form (ngSubmit)="saveAssessment()" [formGroup]="createAssessmentForm">
    <h1 mat-dialog-title>Create Assessment</h1>
    <button type="button" id="close" mat-icon-button (click)="closePopUp()">
      <mat-icon>close</mat-icon>
    </button>

    <div mat-dialog-content>
      <mat-form-field appearance="outline" class="assessmentName">
        <mat-label>Assessment Name</mat-label>
        <input matInput formControlName="assessmentNameValidator" placeholder="Enter Assessment Name" required
               [(ngModel)]="assessmentName" pattern="^[a-zA-Z0-9-()._-]+(\s+[a-zA-Z0-9-()._-]+)*$">
        <mat-error *ngIf="form['assessmentNameValidator'].hasError('required')">
          Mandatory field
        </mat-error>
        <mat-error *ngIf="form['assessmentNameValidator'].hasError('pattern')">
          No special character allowed except -(Hyphen) & _(Underscore)
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="organizationName">
        <mat-label>Organization Name</mat-label>
        <input matInput [(ngModel)]="organizationName" formControlName="organizationNameValidator"
               placeholder="Enter organization Name" required pattern="^[a-zA-Z0-9-()._-]+(\s+[a-zA-Z0-9-()._-]+)*$">
        <mat-error *ngIf="form['organizationNameValidator'].hasError('required')">
          Mandatory field
        </mat-error>
        <mat-error *ngIf="form['organizationNameValidator'].hasError('pattern')">
          No special character allowed except -(Hyphen) & _(Underscore)
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="domain">
        <mat-label>Domain</mat-label>
        <input matInput [(ngModel)]="domain" formControlName="domainNameValidator" placeholder="Enter Domain" required
               pattern="^[a-zA-Z0-9-()._-]+(\s+[a-zA-Z0-9-()._-]+)*$">
        <mat-error *ngIf="form['domainNameValidator'].hasError('required')">
          Mandatory field
        </mat-error>
        <mat-error *ngIf="form['domainNameValidator'].hasError('pattern')">
          No special character allowed except -(Hyphen) & _(Underscore)
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="industry">
        <mat-label>Industry</mat-label>

        <input matInput [(ngModel)]="industry" formControlName="industryValidator" placeholder="Enter Industry"
               required pattern="^[a-zA-Z0-9-()._-]+(\s+[a-zA-Z0-9-()._-]+)*$">
        <mat-error *ngIf="form['industryValidator'].hasError('required')">
          Mandatory field
        </mat-error>
        <mat-error *ngIf="form['industryValidator'].hasError('pattern')">
          No special character allowed except -(Hyphen) & _(Underscore)
        </mat-error>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field appearance="outline" class="teamSize">
        <mat-label>Team Size</mat-label>
        <input type="number" [(ngModel)]="teamSize" matInput formControlName="teamSizeValidator"
               placeholder="Enter Team size" min="1" max="10000000" required pattern="^[1-9]\d*$">
        <mat-error *ngIf="form['teamSizeValidator'].hasError('required')">
          Mandatory number field
        </mat-error>
        <mat-error *ngIf="form['teamSizeValidator'].hasError('pattern')">
          Valid positive integer value
        </mat-error>
      </mat-form-field>
    </div>
    <h2 mat-dialog-title>Add New User </h2>
    <div mat-dialog-content>
      <mat-form-field appearance="outline" class="addUserEmail">
        <mat-label>Email Id</mat-label>
        <input matInput formControlName="emailValidator" type="text" [(ngModel)]="userEmails"
               placeholder="Enter comma separated emails, ie. abc@thoughtworks.com,xyz@thoughtworks.com" id="userEmails">
        <mat-error *ngIf="form['emailValidator'].hasError('pattern')">
          Valid list of comma separated email address
        </mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button class="saveButton" [class.spinner]="loading" [disabled]="loading">Save
    </button>
  </form>
</ng-template>

