<div class="main-container">
  <div class="heading-container">
    <div class="contributor-heading">
      <div class="contributor-heading-container">
        <h1>Contributors</h1>
      </div>
      <div class="close-button-container">
        <button mat-icon-button (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="module-heading">
      <h1>{{this.data.categoryName}} / {{this.data.moduleName}}</h1>
    </div>
  </div>
  <form>
    <div class="author-reviewer-container">
      <div class="contributor" *ngFor="let contributor of contributors | keyvalue ; let i =index">
        <div class="author-container">
          <div class="author-heading-container">
            <h3>{{contributor.key.toLowerCase()}}</h3>
          </div>
          <div class="author-input-container">
            <mat-form-field appearance="outline" class="add-author">
              <mat-label>{{contributor.key}}</mat-label>
              <mat-chip-list #chipList1 aria-label="Email Selection" [formControl]="contributorFormControllers[i]"
                             required>
                <mat-chip *ngFor="let user of contributors.get(contributor.key)"
                          (removed)="removeContributor(user.userEmail,contributor.key)">
                  {{user.userEmail}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input matInput type="text" #authorEmail
                       maxlength="1200"
                       [matChipInputFor]="chipList1"
                       [matChipInputAddOnBlur]="addOnBlur"
                       [formControl]="contributorCtrl"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       pattern="/^([_A-Za-z\d-+]+\.?[_A-Za-z\d-+]+@(thoughtworks.com),?)*$/"
                       (matChipInputTokenEnd)="addContributor($event, contributor.key)"
                >
              </mat-chip-list>

              <mat-error>
                {{userEmailErrorMessage}}
              </mat-error>
            </mat-form-field>
            <!--          <mat-error *ngIf="form['emailValidator'].hasError('pattern')">-->
            <!--            Does not match-->
            <!--          </mat-error>-->
          </div>

        </div>

      </div>
    </div>
    <div class="save-button-container">
      <div>
        <button mat-flat-button type="submit" (click)="saveContributors()">Save</button>
      </div>
    </div>
  </form>
</div>
