@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

table {
  width: 100%;
}

td.mat-cell{
  font-family: 'Inter', sans-serif;
  column-gap: 3px;
  padding: 16px 16px 16px 0px;
}

.mat-column-updatedAt{
  text-align: right;
}

th{
  background-color: #043D4E;
  color: #FFFF;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

tr:nth-child(even){
  background-color: #F4FAFC
}

.heading{
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  font-size: 22px;
  white-space: nowrap;
  padding-bottom: 11px;
  opacity: 1;
  margin: 6px 0 16px;
  font-family: 'Inter', sans-serif;
}

.createAssessment{
  display: grid;
  grid-template-columns: 21% 47% 33%;
  height: 7%;
  width: 100%;
  grid-auto-rows: 107px;
  margin:0 -100px;
  grid-row-gap: 300px;
}




tr.mat-row {
  height: auto;
}



