@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

td.mat-cell{
  font-family: 'Inter', sans-serif;
  column-gap: 3px;
  padding: 16px 16px 16px 0px;
}

.mat-column-updatedAt{
  text-align: right;
}

.mat-column-assessmentStatus{
  text-align: center;
}

.mat-column-organisationName{
  text-align: center;
}

th{
  background-color: #043D4E;
  color: #FFFF;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  width: 160px;
  padding: 4px;
}


tr:nth-child(even){
  background-color: #F4FAFC
}

.heading{
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  font-size: 22px;
  white-space: nowrap;
  padding-bottom: 11px;
  opacity: 1;
  margin: 6px 0 16px;
  font-family: 'Inter', sans-serif;
}

tr.mat-row {
  height: auto;
}



