@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
table {
  width: 100%;
}
td.mat-cell{
  padding: 0 74px;
  font-family: 'Inter', sans-serif;


}
th.mat-header-cell{
  padding:0 71px
}

tr.example-detail-row {
  height: 0;

}
th{
  background-color: #043D4E;
  color: #FFFF;
  font:normal normal 18px/21px Roboto;
  font-size: 18px;
  font-family: 'Inter', sans-serif;


}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

tr:nth-child(even){
  background-color: #F4FAFC
}
.example-element-row td {

  box-shadow: 0px 4px 5px #C3C3C324;
}

tr{
  margin-bottom: 25px;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
.heading{
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  font-size: 22px;
  white-space: nowrap;
  padding-bottom: 11px;
  opacity: 1;
  margin: 6px 0 16px;
  font-family: 'Inter', sans-serif;

}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}
.createAssessment{
  display: grid;
  grid-template-columns: 21% 47% 33%;
  height: 7%;
  width: 97%;
  grid-auto-rows: 67px
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
tr.mat-row{
  border-spacing: 0px 13px;
}
