table {
  width: 100%;
}
td.mat-cell{
  padding: 0 74px;

}
th.mat-header-cell{
  padding:0 71px
}

tr.example-detail-row {
  height: 0;

}
th{
  background-color: #043D4E;
  color: #FFFF;
  font:normal normal bold 18px/21px Roboto;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.tableRow1{
  margin-bottom:25px;
}
.example-element-row td {

  box-shadow: 0px 4px 5px #C3C3C324;
}

tr{
  margin-bottom: 25px;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
.heading{
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  font-size: 1.8vw;
  white-space: nowrap;
  padding-bottom: 14px;
  opacity: 1;
  position: relative;
  left: 5%;
  margin: 5px 0 16px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}
.createAssessment{
  height:7%;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.assessments_tab{
  border: 65px solid white;
  border-top-width: 0px;
  position: relative;
  top: 0;
}
tr.mat-row{
  border-spacing: 0px 13px;
}
