table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;

}
th{
  background-color: #043D4E;
  color: #FFFF;
  font-size: 18px;
  font-weight: bold;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  box-shadow: 0px 4px 5px #C3C3C324;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.heading{
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  opacity: 1;
}
.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.assessments_tab{
  border: 65px solid white;
  border-top-width: 0px;
  position: relative;
  top: 0;
}
tr.mat-row{
  border-spacing: 0px 13px;
}
