@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header-container{
  padding-left: 5%;
  padding-right: 4%;
}
table {

  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  padding-left: 4%;
  padding-right: 4%;

}

td.mat-cell{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-top: 17px;
}

.mat-column-assessmentName{
  width: 30%;
  text-align: left;
  flex-basis: 34%;
}

.mat-column-organisationName{
  width: 20%;
  text-align: left;
  flex-basis: 27%;
}

.mat-column-assessmentStatus{
  width:20%;
  text-align: left;
}

.mat-column-updateAt{
  width: 10%;
  flex-basis: 7%;
}

.heading{
  padding-left: 4%;
  text-align: left;
  letter-spacing: 0.44px;
  color: #043D4E;
  font-size: 22px;
  white-space: nowrap;
  padding-bottom: 11px;
  opacity: 1;
  margin: 6px 0 16px;
  font-family: 'Inter', sans-serif;
}

tr.mat-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 3px 2px #C3C3C324, 0 1px 1px 0  #C3C3C324, 0 1px 3px  2px #C3C3C324, 0 4px 3px 0 #C3C3C324;
  overflow: hidden;
  height: 58px;
}

.mat-header-row {
  display: flex;
  justify-content: space-between;
  background-color: #043D4E;
  padding-top: 16px;
}

th{
  font-size: 17px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding-top: 19px;
}

tr:nth-child(even){
  background-color: #F4FAFC
}

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-color: transparent;
}

.mat-elevation-z8 {
  background: transparent;
  box-shadow: none;
}


