@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.col-md-1{
  margin-left:0px;
  width: 5%;
}
h2{
  padding-top:5px;
  color: #043D4E;
}
.container-xxl{
  max-width: 2500px;
  margin-left:0px;
}
.backIcon{
  color:#043D4E;
}
.moduleHeading{
  color: white;
  padding-top: 19px;
  padding-left: 77px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}
.mat-expansion-panel{
  border-radius: 0;
  margin-right: -10px;
  margin-left: -10px;
  background: transparent;
  box-shadow: none;
}
.mat-expansion-panel-header{
  background-color: #F4FAFC;
  font-size: 18px;
  color:#043D4E;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
  background-color:#F4FAFC ;
}
.mat-expansion-panel-header-title{
  color:#043D4E;
  font-family:'Inter', sans-serif;
  font-weight: 600;
}
.mat-expansion-panel-content{
  display: flex;
  flex-direction: row;
  overflow: visible;
  height: 250px;
}
.example-card {
  margin-top: 20px;
  width: 225px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  border-radius: 0;
  box-shadow:  3px 0px 5px 0px #c3c3c324, 0 3px 5px 0 #c3c3c324, -3px 0px 5px 0px #c3c3c324, 0 -3px 1px  #c3c3c324;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
}
.mat-card-title{
  font-size:18px;
  font-weight: bold;
  color:#043D4E;
  margin-bottom: 21px;
}
.mat-card>:first-child{
  margin-top: -7px;
}
/*.mat-expansion-panel-body {*/
/*  padding: 0px 24px 16px;*/
/*  display: grid;*/
/*  grid-template-columns: 25% 25% 25% 25% 25% 25%;*/
/*}*/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
