<div class="container-xxl">
  <div class="row">
    <div class="col-md-1">
      <button mat-icon-button [routerLink]="['']">
        <mat-icon class="backIcon">keyboard_backspace</mat-icon>
      </button>
    </div>
    <div class="col-md-2">
      <h2>{{assessmentName}}</h2>
    </div>
  </div>
  <br>
  <div class="row" style="height: 45px">
    <div class="col-md-12" style="background-color: #043D4E">
      <div class="col-md-2">
        <h2 class="moduleHeading">Modules</h2>
      </div>
    </div>
  </div>
  <br> <br>
  <div class="row">
    <div class="col-md-12">
      <mat-expansion-panel *ngFor="let category of category">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{category.categoryName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cards">
        <mat-card class="assessmentModuleCard" *ngFor="let module of category.modules">
          <mat-icon>laptop</mat-icon>
          <mat-card-title-group>
            <mat-card-title>{{module.moduleName}}</mat-card-title>
            <mat-card-subtitle>{{category.categoryName}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<div id="assessmentButton">
  <button mat-raised-button class="finishAssessment">Finish Assessment</button>
</div>

