<div class="additionalQuestion">
<div *ngIf="valuen>0">
  <mat-card class="additionalQuestionHeading">Additional Question</mat-card>

    <div *ngFor="let userQuestion of userQuestionList; let i=index;">
    <span class="question-content">{{parameterIndex + 1}}.{{questionIndex + i+1}} &nbsp;{{userQuestion.question}}</span>
      <br>
      <mat-form-field class="questionArea" appearance="outline" >
      <textarea matInput
                cdkTextareaAutosize
                class="textArea1"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="1"
                [(ngModel)]="questionText"
                maxlength="10000"></textarea>
      </mat-form-field>
  </div>
<div *ngIf="flag === true" >
  <form>
    <span class="question-content">{{parameterIndex + 1}}.{{questionIndex + userQuestionList.length + 1}} </span>
    <mat-form-field class="questionArea" appearance="outline" id="testForm">
      <textarea matInput
                cdkTextareaAutosize
                class="textArea1"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="1"
                [(ngModel)]="questionText"
                maxlength="10000"></textarea>
    </mat-form-field>
    <mat-icon (click)="saveQuestion()">done</mat-icon> <mat-icon (click)="flag=false">delete</mat-icon>
  </form>
</div>
</div>

<button (click)="generateQuestion()"
        class="addQuestion button1"  id="addQuestionBox">
  <div>
    <img data-id="manage" src="../../assets/plus-icon/addIcon.svg" alt="plus icon" class="plusIcon"/> <span
    id="addQuestion"> Add Question </span>
  </div>
</button>

</div>
