.heading{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Inter;
}

.colorTheme{
  width: 10px;
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 200px;
}
::ng-deep .colorTheme .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

::ng-deep .mat-select-panel {
  min-width: 100% !important;
}

#chart{
  width: 130%;
}

#sequence{
  width: 320px;
  height: 850px;
  display: grid;
  padding-top: 90px;
  padding-right: 20px;
}
.sunBurst{
  width: 70%;
  height: 900px;
  box-shadow: 10px 10px 10px 10px lightgray;
  margin-top: -75px;
  text-align: center;
  display: inline-flex;
}
.dashboard{
  display: flex;
  width: 98%;
  height: 95%;
  justify-content: end;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
}

