.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-bottom-color:#043D4E ;
}

.example-full-width {
  width: 46%;
  position:absolute;
  top: 0%;
  left: 29%;
}
.searchButton{
  position: absolute;
  left: 75%;
  width: 52px;
  height: 53px;
  background: #043D4E 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 0%;
}
