.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-bottom-color:#043D4E ;
}

.example-full-width {
  width: 79%;
  position: relative;
  top: 4px;
  left: 30%
}
@media screen and (max-width: 700px){
  .example-full-width{
    position: absolute;
    top: 15%;
    left: 29%;


  }
}
.searchButton{
  position: relative;
  left: 30%;
  width: 52px;
  height: 53px;
  background: #043D4E 0% 0% no-repeat padding-box;
  opacity: 1;
  top: -2px;
  border-radius: 0%
}
@media screen and (max-width: 700px){
  .searchButton{
    position: absolute;
    top: 15%;
    left: 69%;

  }
}
