
.searchBar {
  width: 60%;
  position: relative;
  top: 2px;
  left: 36%;
  right:12%;
}


::ng-deep .mat-form-field-wrapper  {
  background-color: #F4FAFC !important;
  padding-bottom: 0em;
  border-bottom: None;
}
.mat-icon{
  padding-right: 0.4cm;
  padding-top: 2px;
  height: 50px ;
  width: 50px;

}
::ng-deep .mat-form-field-underline{
  display: none;
}
::ng-deep .mat-form-field-label, .mat-hint {
  color: #77969F;
}
.text{
  padding-left: 26px;
}

.searchicon{
  float:left;
}
