@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.recommendation-table{
  width: 100%;
}

.category{
  border-color: #6b9f78;
  background-color: #6b9f78;
  border-radius: 10px 150px 0 0;
  width: 275px;
  height: 35px;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0.5% 1%;

}
.table-row-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0;
  color: #383838;
  opacity: 1;
}
.recommendation-detail{
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.flag-icon{
  color: #F15F79;
}
.recommendation-title{
  display: flex;
  width: 15%;
  justify-content: flex-start;
  align-items: flex-end;
}
.recommendation-description{
  width: 95%;
  padding-top: 10px;
  font-size: 18px;
  word-break: break-all;

}
.delivery-horizon{
  font-style: normal;
  font-size: 28px;
  font-family: Inter, serif;
  padding-bottom: 1%;
  padding-top: 2%;
}
.table-row{
  padding-top: 1%;
  padding-bottom: 1%;
}
.table-row-content{
  border: 0.5px solid;
  box-shadow: 0 4px 35px -1px #0003, 0 2px 2px #00000024, 0 2px 4px #0000001f;
}
.recommendation-title-text{
  padding-left: 5%;
  opacity: 0.8;
  width: 100%;
}
.recommendation-impact , .recommendation-effort {
  width: 50%;
}
