.additionalQuestionHeading {
  background-color: #45A0AC1D;
  height: 50px;
  width: 97%;
  color: #043D4E;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: initial;
  padding-top: 15px;
  padding-left: 18px;
  justify-content:space-between;
}
.expandBar{
  border: none;
  background-color: transparent;
  margin-bottom: 12px;
  color: #043D4E;

}
#addQuestion {
  color: #4ba1ac;
}

.addQuestion {
  width: 97%;
  padding: 10px 0px 10px 0;
  margin: 18px 0px 12px 3px;
  background: linear-gradient(to right, grey 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(grey 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, grey 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(grey 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
  border: none;
}

.question {
  padding-left: 15px;
  opacity: 1;
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

.create-question {
  display: flex;
  flex-direction: row;
}

.user-questions, .question-user {
  display: flex;
  flex-direction: row;
  padding-right: 1%;
  justify-content: space-around;
}

.question-user {
  width: 100%;
}

.question-content.user-question {
  text-align: justify;
  width: 93%;
}

.question-content {
  font-size: 18px;
  font-weight: bolder !important;
  font-family: 'Inter', sans-serif;
  color: #000000;
  align-self: auto;
  margin-top: 1%;
  width: 4%;
}

.button1:hover {
  background-color: #45a0ac1d;
}
.questionArea {
  display: -webkit-inline-flex;
  width: 84%;
  padding-right: 1%;
  padding-left: 1%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
  width: 100% !important;
}

.userQuestionAnswers{
  background-color: #f9f9f9db;
  width: 97%;
  padding-top: 28px;
}
.questionFunctions{
  display: flex;
  align-items: flex-start;
  padding-left: 1%;
  margin-top:11px;
}
.questionEditFunctions{
  display: flex;
  align-items: center;
}
textarea.mat-input-element.cdk-textarea-autosize {
  color: black !important ;
  font-size: 18px;
}
.questionFunctionButton{
  color: #043D4E;
  border: none;
  background-color: transparent;
}
.questionCreateFunctions{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.saveQuestionIcon{
  color: #6B9E78;
  border: none;
  background-color: transparent;
}

