.roadmap-chart{
  display: flex;
  justify-content: space-evenly;
}
.y-labels{
  width: 1%;
  display: flex;
  justify-content: space-between;
}
.chart{
  width: 70vw;
  padding-left: 3%;
}
.y-label-text{
  transform: rotate(270deg);
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.y-label-title{
  display: flex;
  align-items: center;
  transform: rotate(270deg);
  font-size: 1.375rem;
}
.y-label-ticks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 64vh;
}

.x-label-text{
  font-size: 1rem;
}
.chart-and-x-axis{
  height: 70%;
  display: grid;
}
.x-label-title{
  padding-top: 1%;
  font-size: 1.375rem;
  text-align: center;
}
.x-label-ticks{
  display: flex;
  justify-content: space-around;
}
.recommendation-table-card{
  width: 82%;
  height: 33%;
  margin-left: 9%;
  margin-top: 2%;
  padding-top: 0 !important;
}

.roadmap-card{
  width: 82%;
  height: 33%;
  margin-left: 9%;
  margin-top: 2%;
  display: flex;
}

.legend-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  height: 100px;

}

.legend-circle {
  width : 32px;
  height : 32px;
  border-radius: 20px;
}

.category-legend {
  display: flex;
  align-items: center;
  width: 18%;
}

.legend-text {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  opacity: 1;
  padding-left: 5px;
}
.legend{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  width: 100%;
}
.legend-title{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  width: 26%;
}
.recommendations-roadmap-title {
  background-color: #45A0AC1D;
  height: 50px;
  width: 82%;
  color: #043D4E;
  font-size: 1.9rem;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: initial;
  padding-left: 18px;
  margin-top: 55px;
  align-items: center;
  margin-left: 9%;
}
.no-recommendation-message{
  padding-left: 37%;
  font-size: 1.125rem;
  font-family: Inter, sans-serif;
  font-style: normal;
}
.right{
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.visible-opacity {
  opacity: 1;
  background-color: white;
}
