.roadmap-chart{
  display: flex;
  justify-content: space-evenly;
}
.y-labels{
  width: 1%;
  display: flex;
  justify-content: space-between;
}
.chart{
  width: 70vw;
  padding-left: 3%;
}
.y-label-text{
  padding-top: 84px;
  padding-bottom: 84px;
  transform: rotate(270deg);
  font-size: 16px;
  text-transform: capitalize;
}
.y-label-title{
  display: flex;
  align-items: center;
  transform: rotate(270deg);
  font-size: 22px;
}

.x-label-text{
  padding-right: 195px;
  padding-left: 195px;
  font-size: 16px;
}
.chart-and-x-axis{
  height: 70%;
  display: grid;
}
.x-label-title{
  padding-left: 44%;
  padding-top: 1%;
  font-size: 22px;
}
.x-label-ticks{
  display: flex;
}
.recommendation-table-card{
  width: 82%;
  height: 33%;
  margin-left: 9%;
  margin-top: 2%;
  padding-top: 0 !important;
}

.roadmap-card{
  width: 82%;
  height: 33%;
  margin-left: 9%;
  margin-top: 2%;
  display: flex;
}

.legend-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  flex-wrap: wrap;
  height: 100px;

}

.legend-circle {
  width : 32px;
  height : 32px;
  border-radius: 20px;
}

.category-legend {
  display: flex;
  align-items: center;
  width: 20%;
}

.legend-text {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  opacity: 1;
  padding-left: 5px;
}
.legend{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
.legend-title{
  font-size: 24px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding-left: 12%;
  padding-right: 4%;
}
.recommendations-roadmap-title {
  background-color: #45A0AC1D;
  height: 50px;
  width: 82%;
  color: #043D4E;
  font-size: 24px;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: initial;
  padding-top: 15px;
  padding-left: 18px;
  margin-top: 55px;
  align-items: flex-start;
  margin-left: 9%;
}
.no-recommendation-message{
  padding-left: 37%;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
}
