<div class="roadmap-chart">
  <mat-card class="roadmap-card ">
    <mat-card-content>
<div *ngIf="recommendationResponse" class="bubble-chart">
  <div class="y-labels">
    <div class="y-label-title">Impact</div>
    <div class="y-label-ticks">
    <div class="y-label-text">High</div>
    <div class="y-label-text">Medium</div>
    <div class="y-label-text">Low</div>
    </div>
  </div>

  <div class="chart-x-axis-wrap">
  <div class="chart" #bubblechart>
  <ngx-charts-bubble-chart
  [view]=[bubblechart.offsetWidth,600]
  [results]="recommendation"
  [scheme]= "colorScheme"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [autoScale]="false"
  [minRadius]="20"
  [maxRadius]="30"
  [xAxisTickFormatting]=tickFormat
  [yAxisTickFormatting]=tickFormat
  [tooltipDisabled]="true"
  [xAxisTicks] = [0,1,2,3]
  [yAxisTicks] = [0,1,2,3]
  [yScaleMin]="0"
  [yScaleMax]="3"
  [xScaleMin]="0"
  [xScaleMax]="3"
  (mouseover)="getText()">
</ngx-charts-bubble-chart>
  </div>
  <div class="x-labels">
    <div class="x-label-ticks">
      <div class="x-label-text">Now</div>
      <div class="x-label-text">Next</div>
      <div class="x-label-text">Later</div>
    </div>
    <div class="x-label-title">Delivery Horizon</div>
  </div>
  </div>
</div>
      <div class="bubble-legend">
        <div class="title">{{'Category'}}</div>
      <div class="legend">
      <div class="category-legend" *ngFor="let category of categoryColor | keyvalue">
        <div class="legend-circle" [style.background-color]="category.value"></div>
        <div class="legend-text">{{category.key}}</div>
      </div>
      </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<mat-card class="recommendation-table-card" *ngIf="recommendationResponse">
<app-recommendation-table
  [recommendations]="recommendationResponse"
  [colorScheme]="categoryColor"
></app-recommendation-table>
</mat-card>
