<ngx-charts-bubble-chart
  [view]=[1800,800]
  [results]="multi"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [autoScale]="false"
  [minRadius]="5"
  [maxRadius]="10"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [xAxisTickFormatting]=xAxisTickFormatting
  [yAxisTickFormatting]=yAxisTickFormatting
  [xAxisTicks] = [0,1,2,3]
  [yAxisTicks] = [0,1,2,3]

  [yScaleMin]="0"
  [yScaleMax]="3"
  [xScaleMin]="0"
  [xScaleMax]="3">
</ngx-charts-bubble-chart>
