<mat-card class="parameterRecommendation"
          [ngStyle]="{'background-color': parameterIndex%2 !== 0 ? '#F5FAFC' : '#FFFF' }">
  <div>
    <mat-form-field class="parameterTextArea" appearance="outline" *ngIf="parameterLevelRecommendation">
      <div *ngIf="parameterLevelRecommendation"></div>
      <mat-label>{{recommendationLabel}}{{inputWarningLabel}}</mat-label>
      <textarea id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}"
                name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}" matInput
                #recommendationElement
                [(ngModel)]="parameterLevelRecommendation.recommendation"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="3"
                maxlength="100"
                (keyup)="saveParticularParameterText($event)"
                [disabled]="assessmentStatus ==='Completed'"></textarea>
    </mat-form-field>
  </div>
  <mat-card-content>
    <div class="parent">
      <div class="impact">Impact
        <div *ngIf="parameterLevelRecommendation.impact"></div>
        <div class="radio1">
          <mat-radio-group
            id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}_impact"
            name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}_impact"
            [(ngModel)]="parameterLevelRecommendation.impact" aria-label="Select an option" (change)="inputChange()"
            [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'">
            <mat-radio-button value="HIGH">&nbsp;High</mat-radio-button>
            &nbsp;<mat-radio-button value="MEDIUM">Medium</mat-radio-button>
            &nbsp;<mat-radio-button value="LOW">Low</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="effect">Effort
        <div *ngIf="parameterLevelRecommendation.effort"></div>
        <div class="radio2">
          <mat-radio-group
            id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}_effort"
            name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}_effort"
            [(ngModel)]="parameterLevelRecommendation.effort" aria-label="Select an option" (change)="inputChange()"
            [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'">
            <mat-radio-button value="HIGH">&nbsp;High</mat-radio-button>&nbsp;
            &nbsp;<mat-radio-button value="MEDIUM">Medium</mat-radio-button>
            &nbsp;<mat-radio-button value="LOW">Low</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="parameterLevelRecommendation.deliveryHorizon"></div>
      <div class="deliveryHorizon">Delivery Horizon
        <div class="input1">
          <mat-form-field appearance="outline">
            <mat-select
              id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}_deliveryHorizon"
              name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}_deliveryHorizon"
              (selectionChange)="inputChange()"
              [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'"
              [(ngModel)]="parameterLevelRecommendation.deliveryHorizon">
              <mat-option value="NOW">Now</mat-option>
              <mat-option value="NEXT">Next</mat-option>
              <mat-option value="LATER">Later</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="delete">
        <button (click)="deleteTemplate(parameterLevelRecommendation)" class="deleteIcon" [matTooltip]="deleteRecommendationText">
          <mat-icon>delete</mat-icon>
          <span style="padding-top:2px;padding-left: 3px">Delete</span>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

