<mat-card class="parameterRecommendation"
          [ngStyle]="{'background-color': parameterIndex%2 !== 0 ? '#F5FAFC' : '#FFFF' }">
  <div class="row">
    <div class="col-md-12">
    <mat-form-field class="parameterTextArea" appearance="outline" *ngIf="parameterLevelRecommendation">
      <div *ngIf="parameterLevelRecommendation"></div>
      <mat-label>{{recommendationLabel}}{{inputWarningLabel}}</mat-label>
      <textarea id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}"
                name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}" matInput
                #recommendationElement
                [(ngModel)]="parameterLevelRecommendation.recommendation"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="2"
                maxlength="5000"
                (keyup)="saveParticularParameterText($event)"
                [disabled]="assessmentStatus ==='Completed'"></textarea>
    </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <div class="row parent">
      <div class="col-md-3 impact">Impact
        <div *ngIf="parameterLevelRecommendation.impact"></div>
        <div class="radio1">
          <mat-radio-group
            id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}_impact"
            name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}_impact"
            [(ngModel)]="parameterLevelRecommendation.impact" aria-label="Select an option" (change)="inputChange()"
            [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'">
            <mat-radio-button value="HIGH">&nbsp;High</mat-radio-button>
            &nbsp;<mat-radio-button value="MEDIUM">Medium</mat-radio-button>
            &nbsp;<mat-radio-button value="LOW">Low</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-3 effect">Effort
        <div *ngIf="parameterLevelRecommendation.effort"></div>
        <div class="radio2">
          <mat-radio-group
            id="recommendationElement_parameter{{parameterLevelRecommendation.recommendationId}}_effort"
            name="recommendationText_parameter{{parameterLevelRecommendation.recommendationId}}_effort"
            [(ngModel)]="parameterLevelRecommendation.effort" aria-label="Select an option" (change)="inputChange()"
            [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'">
            <mat-radio-button value="HIGH">&nbsp;High</mat-radio-button>&nbsp;
            &nbsp;<mat-radio-button value="MEDIUM">Medium</mat-radio-button>
            &nbsp;<mat-radio-button value="LOW">Low</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-3 deliveryHorizon">Delivery Horizon
        <div *ngIf="parameterLevelRecommendation.deliveryHorizon"></div>
        <div class="input1">
          <mat-radio-group
            id="recommendationElement_topic{{parameterLevelRecommendation.recommendationId}}_deliveryHorizon"
            name="recommendationText_topic{{parameterLevelRecommendation.recommendationId}}_deliveryHorizon"
            [(ngModel)]="parameterLevelRecommendation.deliveryHorizon" aria-label="Select an option"
            (change)="inputChange()"
            [disabled]="disableFields(parameterLevelRecommendation.recommendationId) || assessmentStatus ==='Completed'">
            <mat-radio-button value="NOW">&nbsp;Now</mat-radio-button>&nbsp;
            &nbsp;<mat-radio-button value="NEXT">Next</mat-radio-button>
            &nbsp;<mat-radio-button value="LATER">Later</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-md-3 delete">
        <button (click)="deleteTemplate(parameterLevelRecommendation)" class="deleteIcon"
                [matTooltip]="deleteRecommendationText" [disabled]="assessmentStatus ==='Completed'">
          <mat-icon>delete</mat-icon>
          <span style="padding-top:2px;padding-left: 3px">Delete</span>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

